
{{#if weegieData}}
<h3 class="text-success">Add a New Weegie Question</h3>
<form method="post">

 <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">Question:</h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="title">{{this.weegieData.title}}</textarea>
  </div>

  <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise a:</h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="a">{{this.weegieData.choices.a}}</textarea>
  </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise b:</h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="b">{{this.weegieData.choices.b}}</textarea>
  </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise c:</h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="c">{{this.weegieData.choices.c}}</textarea>
  </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise d:</h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="d">{{this.weegieData.choices.d}}</textarea>
  </div>

  <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">answer<p class="text-danger">(write the correct choice letter: a,b,c,d):</p></h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="answer">{{this.weegieData.answer}}</textarea>
  </div>

    <button class="btn btn-lg btn-danger" type="submit">Edit Question</button>
   
</form>
{{else}}
<h3 class="text-success">Add a New Weegie Question</h3>
<form method="post">

 <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">Question:</h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="title"></textarea>
  </div>

  <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise a:</h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="a"></textarea>
  </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise b:</h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="b"></textarea>
  </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise c:</h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="c"></textarea>
  </div>

   <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">chooise d:</h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="d"></textarea>
  </div>

  <div class="form-group has-success">
    <label class="text-success">
      <h3 class="text-primary">
        <h3 class="text-primary">answer<p class="text-danger">(write the correct choice letter: a,b,c,d):</p></h3>
    </label>
    <textarea rows="3" class="form-control form-control-success mb-4" id="inputSuccess1" name="answer"></textarea>
  </div>

    <button class="btn btn-lg btn-danger" type="submit">Add New Question</button>
   
</form>
{{/if}}