<form method="post" encType="multipart/form-data">
    <div class="form-group has-success">
      {{#if this.article.visible}}
      <div class="mb-3">
        <input type="radio" name="visible" value="true" checked="true">
        <label class="visHid  mr-3 text-primary"><h2> Visible</h3></label>
        <input type="radio" name="visible" value="false">
        <label class="visHid text-primary"><h2> Hidden</h2></label>
      </div>
      {{else}}
      <div class="mb-3">
        <input type="radio" name="visible" value="true">
        <label class="visHid  mr-3 text-primary"><h2>Visible</h2></label>
        <input type="radio" name="visible" value="false" checked="true">
        <label class="visHid  text-primary"><h2>Hidden</h2></label>
      </div>
      {{/if}}
    </div>

    <div class="form-group row has-success">
      <label for="example-text-input text-success " class="col-12 col-form-label">
        <h3 class="text-primary">Aticle Title:</h3>
      </label>
      <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input class="form-control" type="text" name="title" value="{{this.article.title}}" id="example-text-input">
      </div>

      <label for="example-text-input text-success " class="col-12 col-form-label">
        <h3 class="text-primary">Pictuer:</h3>
      </label>
      <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input class="form-control"  type="file" name="articleImage" id="example-text-input">
      </div>

      <label for="example-text-input text-success " class="col-12 col-form-label">
        <h3 class="text-primary">Order:</h3>
      </label>
      <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
        <input class="form-control" type="number" name="order" id="example-text-input">
      </div>


    </div>

    <div class="form-group has-success">
      <label class="text-success mt-2">
        <h3 class="text-primary">Categories:</h3>
      </label>
      <select name="category" class="form-control mb-4">
        <option value="{{this.article.category}}" selected>Selected:{{this.CategorySelected}}</option>
        {{#each categories}}
        <option value="{{this._id}}">{{ this.title }}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group has-success">
      <label class="mr-sm-2 text-success" for="inlineFormCustomSelect">
        <h3 class="text-primary">Language</h3>
      </label>
      <select name="language" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
        <option value="{{this.article.language}}" selected>{{this.article.language}}</option>
        <option value="en">English</option>
        <option value="ar">Arabic</option>
        <option value="am">Amharic</option>
      </select>
    </div>

    <div class="form-group has-success">
      <label class="text-success">
        <h3 class="text-primary">Aticle Discreption:</h3>
      </label>
      <textarea rows="14" class="form-control form-control-success mb-3" name="fullContent">{{this.article.fullContent}} 
    </textarea>
      <button class="btn bg-success">
        <h3 class="text-white">Update Aticle</h3>
      </button>
    </div>
  </form>