<h3>Category: {{this.category.title}}</h3>

<form method="post">  
  {{#if this.category.visible}}
    <input type="radio" name="visible" value="true" checked="true"> Visible<br>
     <input type="radio" name="visible" value="false"> Hidden<br>
  {{else}}
    <input type="radio" name="visible" value="true"  > Visible<br>
     <input type="radio" name="visible" value="false"  checked="true"> Hidden<br>
     {{/if}}
   <p>Category Title</p>
  <input name="title" value={{this.category.title}} />
  <br/>
  <br/>
  <p>Edit short Description:</p>
    <textarea name="shortDescription" value=>{{this.category.shortDescription}}</textarea>
  </br></br>
    <p>Edit Description:</p>
    <textarea name="description" > {{this.category.description}}</textarea>
    </br></br>
  <button class="btn bg-danger">Update category</button>
</form>
 
