<a href="/admin/categories/add" class="btn btn-primary btn-lg active  mb-3" role="button" aria-pressed="true">
  Add New category</a>

</div>



<table class="table table-bordered table-inverse">
  <thead class="bg-primary thead-bordered">
    <tr>
      <th class="text-center">
        <h2>#</h2>
      </th>
      <th class="text-center">
        <h2>Title</h2>
      </th>
      <th class="text-center">
        <h2>Brief</h2>
      </th>
      <th class="text-center">
        <h2>Visible</h2>
      </th>
      <th class="text-center">
        <h2>Update</h2>
      </th>
      <th class="text-center">
        <h2>Delete</h2>
      </th>


    </tr>
  </thead>
  <tbody>
    {{#each category}} {{#if this.visible}}

    <tr>
      <th class="align-middle p-4 text-center" scope="row">{{this.order}}</th>
      <td class="align-middle p-4">
        <h4 class="text-center"> {{this.title}}</h4>
      </td>
      <td class="align-middle p-4 text-center">
        <h4 class="categoryList-content" >{{this.shortDescription}}</h4>
      </td>
      <td class="align-middle p-4 text-center">
        <h4>&#x2714;</h4>
      </td>

      <td class="align-middle text-center">

        <a href="/admin/categories/edit/{{this._id}}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Edit</a>

      </td>

 
      <td class="align-middle p-4 text-center">
        <button class="btn btn-primary btn-lg active delete-category delete-category{{@key}}">Delete</button>
      </td>

      <form method="post" action="/admin/categories/delete/{{this._id}}">
        <div class="validation bg-primary validation{{@key}}">
          <div class="validation-box">
            <h3>Are you sure you want to delete this Category:</h3>
            <h4 class="text-white">{{this.title}}</h4>
            <h5>Write the name of the category in the text input to delete it:</h5>
            <input type="text" name="validationTitle" placeholder="name of category" />
            <button class="btn btn-danger btn-lg active ">delete</button>
          </div>
        </div>
      </form>
 
 
    </tr>
    {{else}}
    <tr>
      <th class="align-middle p-4 text-center" scope="row">
        <strike>{{this.order}}</strike>
      </th>
      <td class="align-middle p-4 text-center">
        <h4>
          <strike>{{this.title}}</strike>
        </h4>
      </td>
      <td class="align-middle p-4 text-center">
        <strike>
          <h4 class="categoryList-content">{{this.shortDescription}}</h4>
        </strike>
      </td>
      <td class="align-middle p-4 text-center">
        <h4>&#x2716;</h4>
      </td>
      <td class="align-middle text-center">
        <a href="/admin/categories/edit/{{this._id}}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Edit</a>
      </td>

      <td class="align-middle p-4 text-center">
        <button class="btn btn-danger btn-lg active delete-category delete-category{{@key}}">Delete</button>
      </td>

      <form method="post" action="/admin/categories/delete/{{this._id}}">
        <div class="validation bg-info validation{{@key}}">
          <div class="validation-box">
            <h3>Are you sure you want to delete this Category:</h3>
            <h4 class="text-white">{{this.title}}</h4>
            <h5>Write the name of the category in the text input to delete it:</h5>
            <input type="text" name="validationTitle" placeholder="name of category" />
            <button class="btn btn-danger btn-lg active ">delete</button>
          </div>
        </div>
      </form>

    </tr>
    {{/if}} {{/each}}
  </tbody>
</table>


<script>
             
   const deleteButtons = document.getElementsByClassName("delete-category");

    for (var i = 0; i < deleteButtons.length; i++) {
   
    const deleteCategory = document.getElementsByClassName("delete-category"+i);
 
    const validationBox = document.getElementsByClassName("validation"+i)

           deleteCategory[0].addEventListener("click", () => {

            validationBox[0].style.display = "flex";
        })
    }

</script>