<a href="categories/add"><button class="bg-danger"> Add New category</button></a>
{{#each category}}
{{!-- <h1 class="text">Title :{{this.title}}</h1>
<h2> Description {{this.description}}</h2>
<h3>ShortDescription {{this.shortDescription}}</h3> --}}
<div class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>

<div class="card" style="width: 20rem;">
   <div class="card-block">
    <h4 class="card-title">Title :{{this.title}}</h4>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">{{this.shortDescription}}</p>
  </div>
</div>


{{/each}}

 