 {{#if this.addArticle}}
<a href="/admin/articles/add" class="btn btn-primary btn-lg active  mb-3" role="button" aria-pressed="true">
    Add New article</a>



{{/if}}

<table class="table table-bordered table-inverse ">
    <thead class="bg-primary thead-bordered">
        <tr>
            <th class="text-center align-middle">
                <h2 class="text-center">#</h2>
            </th>
            <th class="text-center align-middle">
                <h2 class="text-center">Title</h2>
            </th>
            <th class="text-center align-middle">
                <h2 class="text-center">Content</h2>
            </th>
            <th class="text-center align-middle">
                <h2 class="text-center">Language</h2>
            </th>
            <th class="text-center align-middle">
                <h2 class="text-center">Update</h2>
            </th>
            <th class="text-center align-middle">
                <h2 class="text-center">Delete</h2>
            </th>

        </tr>
    </thead>
    <tbody>
        {{#each articles}}{{#if this.visible}}
        
        <tr>
            <th scope="row" class="align-middle text-center p-4">{{this.order}}</th>
            <td class="align-middle p-4">
                <h4 class="text-center">{{this.title}}</h4>
            </td>
            <td class="align-middle p-4">
                <h4 class="articleList-content text-center">{{this.fullContent}} </h4>
            </td>
            <td class="align-middle p-4 text-center">
                <h4>
                    {{this.language}}
                </h4>
            </td>
            <td class="align-middle p-4 text-center">
                <a href="/admin/articles/edit/{{this._id}}">
                    <button class="btn btn-success btn-lg active">Edit</button>
                </a>
            </td>

            <td class="align-middle p-4 text-center">
                <button class="btn btn-primary btn-lg active delete-article delete-article{{@key}}">Delete</button>

            </td>

            <form method="post" action="/admin/articles/delete/{{this._id}}">
                <div class="validation bg-primary validation{{@key}}">
                    <div class="validation-box">
                        <h3>Are you sure you want to delete this Article:</h3>
                        <h4 class="text-white">{{this.title}}</h4>
                        <h5>Write the name of the article in the text input to delete it:</h5>
                        <input type="text" name="validationTitle" placeholder="name of article" />
                        <button class="btn btn-danger btn-lg active ">Delete</button>
                    </div>
                </div>
            </form>

        </tr> {{else}}
        <tr>
            <th scope="row" class="align-middle p-4 text-center">
                <strike>{{this.order}}</strike>
            </th>
            <td class="align-middle p-4 text-center">
                <h4>
                    <strike>{{this.title}}</strike>
                </h4>
            </td>
            <td class="align-middle p-4 text-center">
                <h4 class="articleList-content">
                    <strike>{{this.fullContent}}</strike>
                </h4>
            </td>
            <td class="align-middle p-4 text-center">
                <h4>
                    <strike>{{this.language}}</strike>
                </h4>
            </td>
            <td class="align-middle p-4 text-center">
                <a href="/admin/articles/edit/{{this._id}}">
                    <button class="btn btn-danger btn-lg active">Edit</button>
                </a>
            </td>


            <td class="align-middle p-4 text-center">
                <button class="btn btn-danger btn-lg active delete-article delete-article{{@key}}">Delete</button>

            </td>

            <form method="post" action="/admin/articles/delete/{{this._id}}">
                <div class="validation bg-primary validation{{@key}}">
                    <div class="validation-box">
                        <h3>Are you sure you want to delete this Article:</h3>
                        <h4 class="text-white">{{this.title}}</h4>
                        <h5>Write the name of the article in the text input to delete it:</h5>
                        <input type="text" name="validationTitle" placeholder="name of article" />
                        <button class="btn btn-danger btn-lg active ">Delete</button>
                    </div>
                </div>
            </form>
        </tr>
        {{/if}} {{/each}}
    </tbody>
</table>

 
<script>
    
    const deleteButtons = document.getElementsByClassName("delete-article");

    for (var i = 0; i < deleteButtons.length; i++) {
   
    const deletearticle = document.getElementsByClassName("delete-article"+i);
 
    const validationBox = document.getElementsByClassName("validation"+i)

         deletearticle[0].addEventListener("click", () => {

            validationBox[0].style.display = "flex";
        })
    }
</script>