{{#if this.addArticle}}
<a href="/admin/articles/add" class="btn btn-primary btn-lg active  mb-3" role="button" aria-pressed="true">
    Add New article</a>
{{/if}}

<table class="table table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th class="text-center">Order</th>
            <th class="text-center">Title</th>
            <th class="text-center">Content</th>
            <th class="text-center">Lang</th>
            <th class="text-center">Update</th>
            <th class="text-center">Delete</th>

        </tr>
    </thead>
    <tbody>
        {{#each articles}}{{#if this.visible}}
        <tr>
            <th scope="row" class="align-middle p-4">{{this.order}}</th>
            <td class="align-middle p-4">
                <h4>{{this.title}}</h4>
            </td>
            <td class="align-middle p-4">
                <h4 class="articleList-content">{{this.fullContent}} </h4>
            </td>
            <td class="align-middle p-4">
                <h4>
                    {{this.language}}
                </h4>
            </td>
            <td class="align-middle p-4 text-center">
                <a href="/admin/articles/edit/{{this._id}}">
                    <button class="btn btn-primary btn-lg active">Edit</button>
                </a>
            </td>

            <td class="align-middle p-4 text-center">
                <a href="/admin/articles/delete/{{this._id}}">
                    <button class="btn btn-primary btn-lg active">Delete</button>
                </a>
            </td>
        </tr> {{else}}
        <tr>
            <th scope="row" class="align-middle p-4">
                <strike>{{this.order}}</strike>
            </th>
            <td class="align-middle p-4">
                <h4>
                    <strike>{{this.title}}</strike>
                </h4>
            </td>
            <td class="align-middle p-4">
                <h4>
                    <strike>{{this.fullContent}}</strike>
                </h4>
            </td>
             <td class="align-middle p-4">
                <h4>
                    <strike>{{this.language}}</strike>
                </h4>
            </td>
            <td class="align-middle p-4 text-center">
                <a href="/admin/articles/edit/{{this._id}}">
                    <button class="btn btn-danger btn-lg active">Edit</button>
                </a>
            </td>
        </tr>

         <td class="align-middle p-4 text-center">
                <a href="/admin/articles/delete/{{this._id}}">
                    <button class="btn btn-danger btn-lg active">Delete</button>
                </a>
            </td>
        </tr>
        {{/if}} {{/each}}
    </tbody>
</table>