<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav id="serverNav" class="navbar navbar-toggleable-md navbar-inverse bg-danger text-info">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{#if home}}
    <a class="navbar-brand homeNav" id={{home}} href="/">
      <li>Home</li>
    </a>
    {{else}}
    <a class="navbar-brand homeNav" href="/">
      <li>Home</li>
    </a>

    {{/if}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" id={{categoryHome}}>
          <a class="nav-link text-white" href="/admin/categories">
            <h4>Categories</h4>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" id={{articlehome}}>
          <a class="nav-link text-white" href="/admin/articles">
            <h4>Articles</h4>
          </a>
        </li>
        <li class="nav-item" id={{addArticlehome}}>
          <a class="nav-link text-white" href="/admin/articles/add">
            <h4>Add Articles</h4>
          </a>
        </li>
        <li class="nav-item" id={{addcategoryHome}}>
          <a class="nav-link text-white" href="/admin/categories/add">
            <h4>Add Categories</h4>
          </a>
        </li>
        <li class="nav-item" id={{Weegie}}>
          <a class="nav-link text-white" href="/admin/weegie">
            <h4>Weegie</h4>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/users/logout">
            <h4>Logout</h4>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  {{{body}}}

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>

</body>

</html>